/* EDITABLE FORM */
.editable-form input, select, option {
    font-size: 1.2em;
    margin: .2em;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 3px;
}

/* ICONS */
.icons-container {
    height: 4em;
}
.icon-save {
    float: right;
    padding: 1em;
}
.icon-save img {
    height: 2em;
}
.icon-save, .icon-close:hover {
    cursor: pointer;
}
.icon-close {
    float: left;
    padding: 1em;
}
.icon-close img {
    height: 2em;
}

@media (max-width: 500px) {
    .editable-content {
        margin: 10em auto;
    }
}